<widget id="A6082617816432" version="0.0.1">

    <name>ZhongTieYanJiuSuo</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <!-- <content src="index.html"/> -->
    <content src="http://192.168.1.101:8181/index.html"/>
    <!--<content src="http://192.168.1.8:8181/index.html"/>-->

    <access origin="*"/>

    <preference name="pageBounce" value="false"/>

    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>

    <!--<preference name="windowBackground" value="static/img/bg.png"/>-->
    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

    <preference name="hScrollBarEnabled" value="false"/>

    <preference name="vScrollBarEnabled" value="false"/>

    <preference name="autoLaunch" value="false"/>

    <preference name="fullScreen" value="false"/>

    <preference name="autoUpdate" value="true"/>

    <preference name="smartUpdate" value="true"/>

    <preference name="debug" value="false"/>

    <preference name="statusBarAppearance" value="true"/>

    <permission name="readPhoneState"/>

    <permission name="camera"/>

    <permission name="record"/>

    <permission name="location"/>

    <permission name="fileSystem"/>

    <permission name="internet"/>

    <permission name="bootCompleted"/>

    <permission name="hardware"/>

    <preference name="urlScheme" value="crecgapp"/>

    <!--<preference name="softInputMode" value="resize"/>-->

    <!-- 极光推送 -->
    <feature name="ajpush">
        <param name="app_key" value="f4154f3aa4117cfa3316d8b7"/>
        <param name="channel" value="official"/>
    </feature>

    <!-- 百度地图 -->
    <feature name="bMap">
        <param name="android_api_key" value="lfb7Lq5VuGhXAQU1kmnSshvvQuHIrXH3"/>
        <param name="ios_api_key" value="K9L7v4e2EeGVaU4FE2XOxuy0icw3eD2v" />
    </feature>

    <!-- 微信 -->
    <feature name="wx">
        <param name="urlScheme" value="wx90741232c7c4117f"/>
        <param name="apiKey" value="wx90741232c7c4117f"/>
        <param name="apiSecret" value="ff3db30f34b7353c9c6cb9b8824bfc9f"/>
    </feature>

    <!-- 融云 -->
    <!-- 融云 -->
    <feature name="rongCloud2">
        <!-- 正式key -->
        <param name="appKey" value="kj7swf8ok10u2"/>
        <!-- 测试key -->
        <!--<param name="appKey" value="qd46yzrfqijbf"/>-->
    </feature>

    <intent-filter>
        <action name="android.intent.action.VIEW"/>
        <category name="android.intent.category.DEFAULT"/>
        <data scheme="rong" host="io.rong.fast" pathPrefix="/conversation/"/>
    </intent-filter>

    <intent-filter>
        <action name="android.intent.action.VIEW"/>
        <category name="android.intent.category.DEFAULT"/>
        <data host="com.jl.crecg" path="/conversationlist" scheme="rong"/>
    </intent-filter>


    <intent-filter>
        <action name="android.intent.action.VIEW"/>
        <category name="android.intent.category.DEFAULT"/>
        <data host="com.jl.crecg" pathPrefix="/push_message" scheme="rong"/>
    </intent-filter>

</widget>

